@using MSL_APP.Utils;
@using LstDoblementeEnlazada;
@model ListaDobleEnl<string>;

@{
    ViewData["Title"] = "Player";
}

<h1 class="header center orange-text">Estructura de datos</h1>
<div class="row center">
    <h5 class="header col s12 light">Jugadores</h5>

</div>

<div class="row">
    @if (Model.nodoRaiz != null)
    {
        Nodo<string> nodoActual = new Nodo<string>();
        nodoActual = Model.nodoRaiz;
        while (nodoActual != null)
        {
            <ul class="collection with-header">
                <li class="collection-header"><h4>@nodoActual.first_name,@nodoActual.last_name</h4></li>
                <li class="collection-item">Club: @nodoActual.club</li>
                <li class="collection-item">Posicion: @nodoActual.position</li>
                <li class="collection-item">Salario: @nodoActual.base_salary</li>
                <li class="collection-item">Compensacion: @nodoActual.guaranteed_compensation</li>
            </ul>

            nodoActual = nodoActual.nodoSiguiente;
        }
    }
</div>


